# Final Project Exploratory Data Analysis

Do your EDA in this notebook!

# Milestone 1 and 2 Codes

Loading up data into the book

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp

crypto = pd.read_csv('data/crypto-data.csv')

Checking data shape

In [2]:
print(crypto.shape)

(942294, 13)

Checking data types to see if any changes is required

In [3]:
print(crypto.dtypes)

slug            object
symbol          object
name            object
date            object
ranknow          int64
open           float64
high           float64
low            float64
close          float64
volume         float64
market         float64
close_ratio    float64
spread         float64
dtype: object

Checking for missing data

In [4]:
print('Crypto nulls:', crypto.isnull().sum().sum())

Crypto nulls: 0

Understanding the columns of the dataset available

In [5]:
crypto.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,28/4/2013,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,29/4/2013,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,30/4/2013,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,1/5/2013,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2/5/2013,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [6]:
crypto.describe()

,ranknow,open,high,low,close,volume,market,close_ratio,spread
count,942294.000000,9.422940e+05,9.422940e+05,9.422940e+05,9.422940e+05,9.422940e+05,9.422940e+05,942294.000000,9.422940e+05
mean,1000.169059,3.482410e+02,4.084798e+02,2.961484e+02,3.459935e+02,8.720417e+06,1.725065e+08,0.459499,1.123310e+02
std,587.575464,1.318420e+04,1.616373e+04,1.092913e+04,1.309807e+04,1.839806e+08,3.575595e+09,0.326161,6.783721e+03
min,1.000000,2.500000e-09,3.200000e-09,2.500000e-10,2.000000e-10,0.000000e+00,0.000000e+00,-1.000000,0.000000e+00
25%,465.000000,2.321000e-03,2.628000e-03,2.044000e-03,2.314000e-03,1.750000e+02,2.958125e+04,0.162900,0.000000e+00
50%,1072.000000,2.398200e-02,2.680200e-02,2.143700e-02,2.389100e-02,4.278000e+03,5.227970e+05,0.432400,0.000000e+00
75%,1484.000000,2.268555e-01,2.508830e-01,2.043862e-01,2.259298e-01,1.190915e+05,6.874699e+06,0.745800,3.000000e-02
max,2072.000000,2.298390e+06,2.926100e+06,2.030590e+06,2.300740e+06,2.384090e+10,3.265020e+11,1.000000,1.770563e+06

Zeroing in on the timeframe of data available

In [7]:
print(crypto['date'].describe(datetime_is_numeric=True))

count         942294
unique          2042
top       29/11/2018
freq            2071
Name: date, dtype: object

Zeroing in on the types of coin

In [8]:
symbol = crypto["slug"]
print(symbol.describe())

count      942294
unique       2071
top       bitcoin
freq         2042
Name: slug, dtype: object

The data set is way too large! Will need to zero in on the top 10 and understand how much they contribute to the marketcap of all coins!